###  80-20 training and testing split ratio

In [1]:
##Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt

In [2]:
## Importing the dataset
df = pd.read_csv('cleaned.csv',header=0)

In [3]:
df.drop(['Year'],axis=1, inplace=True)

In [4]:
df.head()

,Location,Soil Type,Max_Temperature,Min_Teperature,Rainfall,Humidity,Yield Kg/ha
0,Chefe Donsa,Black Soil,31.0,13.0,811.2,68.0,980.0
1,Chefe Donsa,Black Soil,30.5,16.0,811.2,72.0,670.0
2,Chefe Donsa,Black Soil,29.5,14.0,811.2,68.0,730.0
3,Chefe Donsa,Black Soil,30.0,13.0,811.2,54.0,710.0
4,Chefe Donsa,Black Soil,31.0,12.0,811.2,70.0,780.0

In [ ]:
df.shape

In [5]:
### Separating Independent and Dependent feature
X = df.iloc[:,:-1]
y = df.iloc[:, 6]

In [6]:
X = pd.get_dummies(X, drop_first=True)

In [7]:
X.head()

,Max_Temperature,Min_Teperature,Rainfall,Humidity,Location_Alemtena,Location_Chefe Donsa,Location_DZ-BS,Location_DZ-LS,Location_Denkaka,Location_Minjar,Soil Type_Light Soil
0,31.0,13.0,811.2,68.0,0,1,0,0,0,0,0
1,30.5,16.0,811.2,72.0,0,1,0,0,0,0,0
2,29.5,14.0,811.2,68.0,0,1,0,0,0,0,0
3,30.0,13.0,811.2,54.0,0,1,0,0,0,0,0
4,31.0,12.0,811.2,70.0,0,1,0,0,0,0,0

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
# print the number of instances of the training and testing set(80-20)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(6461, 11)
(1616, 11)
(6461,)
(1616,)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Model Building with Random Forest Regressor

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score
RF = RandomForestRegressor()
RF.fit(X_train, y_train)
pred = RF.predict(X_test)

print('MSE =', mse(pred, y_test))
print('MAE =', mae(pred, y_test))
print('R2 Score =', r2_score(pred, y_test))

MSE = 449365.5509850084
MAE = 464.8415899904722
R2 Score = 0.5146744663569305

### Model Building with AdaBoostRegressor

In [22]:
# AdaBoost algorithm (80-20)
Adb = AdaBoostRegressor()
Adb.fit(X_train, y_train)
pred = Adb.predict(X_test)

print('MSE =', mse(pred, y_test))
print('MAE =', mae(pred, y_test))
print('R2 Score =', r2_score(pred, y_test))

MSE = 507385.81624925666
MAE = 547.1144887764451
R2 Score = 0.24551410356782621

### Model Building with GradientBoostingRegressor

In [25]:
# GradientBoosting(80-20)
from sklearn.ensemble import GradientBoostingRegressor
GB = GradientBoostingRegressor() 
GB.fit(X_train, y_train) 
   
# Predicting the Test set results 
y_pred = GB.predict(X_test)


print('MSE =', mse(y_pred, y_test))
print('MAE =', mae(y_pred, y_test))
print('R2 Score =', r2_score(y_pred, y_test))

MSE = 411173.0155495209
MAE = 459.44724663975677
R2 Score = 0.451479932952102